
.container {
    max-width: 2560px;
    min-height: 1080px;
    margin:0;
    padding:0;
    position:absolute;
    background: url("../assets/imgs/quiz.jpg");    
    background-repeat: no-repeat;
    background-size: 2560px 1080px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
    
.choose-box {
    width:380px;
    height:460px;
    background-color:darkorchid;
    color:white;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    }
    
.choose-box h1,h4 {
    text-align:center;
    align-items:center;
    text-shadow: 2px 2px #000;
}

.group-btn{
    margin-top: 15%;    
    vertical-align: middle;
}

@media (max-width: 640px)
{
  .choose-box
   {
       width: 320px;
   }
   .container{
       margin-top: -70%;
   }
}
@media (max-width: 560px)
{
  .choose-box
   {
       width: 260px;
   }
   .container{
       margin-top: -70%;
   }
}